* {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web',Verdana, sans-serif;
    font-size: 14px;
    min-width: 320px;
}

.title {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #BCBBBB;
}

.logo {
    float: left;
}

.large-image {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.developer-name, .developer-title {
    margin: 0;
    padding: 0;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
}
.developer-name {
    font-size: 24px;
}
.developer-title {
    font-size: 14px;
}
.featured h2 {
    color: #BCBBBB;
    margin: 0;
    padding: 0;
}

.projects {
    list-style: none;
    padding: 0;
    margin: 0 -1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    margin: 0 1rem 3rem 1rem;
    flex-grow: 1;
}
.project-title {
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0.5rem 0 0.2rem 0;
    color: #3B3768;
}
.project-image {
    width: 100%;
}
.project-link, .project-link:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #BCBBBB;
    font-size: 12px;
}

/* clearfix implementation copied from https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .developer-name {
        font-size: 40px;
        margin-bottom: -1rem;
    }
    .developer-title {
        font-size: 24px;
    }
    .project {
        width: 45%;
        max-width: 45%;
    }
}
@media screen and (min-width: 1024px) {
    .developer-name {
        font-size: 40px;
        margin-bottom: -1rem;
    }
    .developer-title {
        font-size: 24px;
    }
    .project {
        max-width: 30%;
    }
}
